<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Form for USSD POSTING</title>
</head>
<body>

<div id="maindiv">
<h1>Test Form for USSD POSTING</h1>
<Form action="/postdata" method="POST">
Enter SessionID<input name="sessionid"></input><br>
Enter Phone Number<input name="phonenumber"></input><br>
Enter Text<input name="text"></input><br>
<button name="Submit" value="submit">Submit</button>

</Form>

</div>
</body>
</html>